@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


/* General Styles */

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

header{
    padding: 2rem;
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 4px 13px -9px rgb(0 0 0 / 25%);
    backdrop-filter: blur(30px);
    z-index: 999;
}

/* Navegation Styles */

.logo{
    width: 30%;
    max-width: 150px;
}

.nav-menu-btns{
    position: relative;
    background-color: transparent;
    border: none;
    text-align: right;
}

.open-menu{
    width: 15%;
    max-width: 250px;
    opacity: 1;
    transition: opacity 0.5s ease;
    z-index: 1;
}

.closed-menu{
    width: 12%;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateX(-100%) translateY(-50%);
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: -1;
}

.main-nav{
    position: fixed;
    top: 16.8vh;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    background-color: rgba(253 215 215 / 0.9);
}

.nav-links {
    display: flex;
    flex-direction: column;
}

.nav-links li{
    list-style: none;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-links li > a{
    text-transform: uppercase;
    padding-top: 0.5rem;
    letter-spacing: 0.085em;
    color: #0d0d0d;
    font-weight: 500;
    font-size: 0.8rem;
}

.nav-links img{
    width: 25%;
    max-width: 100px;
}

/* Hero Section */

.hero-section{
    background-color: #F19E97;
    display: flex;
    flex-direction: column;
}

.hero-section h1{
    font-family: Roboto;
    font-weight: 900;
    font-size: 2.25rem;
    line-height: 2.625rem;
    text-align: center;
    letter-spacing: 0.085rem;
    text-transform: uppercase;
    color: #fff;
}

.hero-section button{
    border: 1px solid #FFFFFF;
    background-color: transparent;
    padding: 1rem 3rem;
    width: 50%;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.05rem;
    margin: 2rem auto;
}

/* Sections Styles */

section{
    margin: 2rem 0;
}

section h2{
    font-family: Roboto;
    font-weight: 900;
    font-size: 0.875rem;
    text-align: center;
    letter-spacing: 0.085rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.landing-container{
    padding: 2rem;
}

.card{
    margin-bottom: 2rem;
    background: #FFFFFF;
    border: 1px solid #F3F3F3;
    box-sizing: border-box;
    box-shadow: 6px 6px 13px -9px rgb(0 0 0 / 25%);
}

.card p{
    padding: 2rem;
}

.section-2,
.section-4{
    background-color: #F19E97;
}

.section-2 h2,
.section-4 h2{
    color: #fff;
}

.img-container img{
    width: 100%;
    margin-bottom: 2rem;
}

.about-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-info img{
    width: 50%;
}


form{
    display: flex;
    flex-direction: column;
}

label{
    margin-top: 3rem;
}

input,
textarea{
    padding: 0.5rem;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
}

textarea{
    resize: vertical;
}

input[type="submit"]{
    margin: 2rem auto;
    width: 50%;
    border: 1px solid #fff;
}

/* To Top Button */

.top-btn{
    position: fixed;
    right: 1rem;
    bottom: 10rem;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
    cursor: pointer;
    text-align: center;
}

.top-btn.show{
    opacity: 1;
}

#scrollToTop{
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 50%;
    padding: .5rem;
    cursor: pointer;
}

.fa,
.fas{
    font-size: .9rem;
}

/* Footer Styles */

footer{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: -2rem;
    font-size: 0.8rem;
}

footer div,
footer a{
    padding-bottom: 0.5rem;
    color: #000;
}

/* Dynamic Clases */

.open-menu.hide{
    opacity: 0;
    z-index: -1;
}

.closed-menu.show{
    opacity: 1;
    z-index: 1;
}

.main-nav.active{
    transform: translateX(0);
}

.nav-links li.active{
    background-color: #fff;
}